.grid {
    border: solid;
    border-width: 1px;
    width: 30px;
    height: 30px;
}

.container {
    margin: 30px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}