#container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#player-container {
    margin: 30px;
    width: 318.18px;
    display: grid;
    grid-row-start: 1;
    grid-template-columns: repeat(10, 1fr);
}

#computer-container {
    margin: 30px;
    width: 318.18px;
    display: grid;
    grid-row-start: 2;
    grid-template-columns: repeat(10, 1fr);
}

.location {
    border: solid;
    border-width: 1px;
    width: 30px;
    height: 30px;
}